<div class="container">
  <div class="row mt-2">
    <div class="col-12 raised">
      <table class="table table-responsive-xl">
        <thead>
          <tr>
            <th>Name</th>
            <th>UserName</th>
            <th>Phone</th>
            <th>Area</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cus of customers">
            <td>{{cus?.name}}</td>
            <td>{{cus?.userName}}</td>
            <td>{{cus?.phone}}</td>
            <td>{{cus?.prAddress?.area}}</td>
            <td>
              <a class="btn btn-sm btn-primary raised" routerLink="/dashboard/customer/customer-details/{{cus.id}}">Details</a>
              <a *ngIf="cus?.active" class="btn btn-sm btn-info raised" routerLink="/dashboard/customer/customer-images/{{cus.id}}">Images</a>
              <a *ngIf="cus?.active" class="btn btn-sm btn-danger raised" (click)="deactivateCustomer(cus.id)">Deactivate</a>
            </td>
          </tr>
        </tbody>
      </table>
      <loading-spiner *ngIf="showSpiner"></loading-spiner>
    </div>
  </div>
</div>