<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MON Infotech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul *ngIf="appUser" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/index"> Admin
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/user/add-user"> Users
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/company/add-company"> Company
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        
        <li ngbDropdown *ngIf="appUser" placement="bottom-right" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ appUser.name }}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" routerLink="/changePassword">
              <i class="fa fa-unlock-alt"></i> Change Password</a>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i> Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>