<div class="container">
  <div class="row mt-2">
    <div class="col-12 col-md-7 raised">
      <user-list-child [users]="users" (edit)="edit($event)"></user-list-child>
    </div>

    <div class="col-12 col-md-5 p-0 pt-3 px-md-2 pt-md-0">
      <div class="raised">
        <div class="text-center">
          <h5 class="h3 mb-3 font-weight-normal">
            <strong> ADD USER </strong>
          </h5>
          <div class="alert alert-warning" *ngIf="user.id">
            Do not change email or password, There is an issue!
          </div>
          <div class="alert alert-success" *ngIf="message.length>0">
            {{message}}
          </div>
          <div class="alert alert-danger" *ngIf="errorMessage.length>0">
            {{errorMessage}}
          </div>
        </div>

        <form class="p-3" #usr="ngForm" (ngSubmit)="save(usr.value)" novalidate>
          <div class="form-group row ">
            <label class="col-2 col-form-label">Companies</label>
            <div class="col-10">
              <select class="form-control" name="companyId" [(ngModel)]="user.companyId">
                <option *ngFor="let company of companies" [ngValue]="company.id">{{company.companyName}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input #name="ngModel" [(ngModel)]="user.name" name="name" id="name" class="form-control" placeholder="Name" required autofocus/>
            <small class="form-text text-danger" *ngIf="name.touched && name.invalid">Name is required</small>
          </div>

          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
              required email />
            <div class="form-text text-danger" *ngIf="email.touched && email.invalid">
              <small *ngIf="email.errors.required">Email is required</small>
              <small *ngIf="email.hasError('email') && !email.errors.required">Please enter a valid email</small>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" id="inputPassword" class="form-control"
              placeholder="Password" required/>
            <small class="form-text text-danger" *ngIf="password.touched && password.invalid">password is required</small>
          </div>

          <div class="form-group">

          </div>
          <div class="d-flex justify-content-around">
            <button class="btn btn-sm btn-success raised" type="submit" [disabled]="usr.invalid">
              <i class="fa fa-user-plus"></i> {{user.id?'UPDATE':'SAVE'}}
            </button>
            <button type="button" *ngIf="user.id" class="btn btn-sm btn-danger raised" (click)="delete(user.id)">Delete</button>
            <button type="button" class="btn btn-sm btn-light raised" (click)="clear()">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>