<div class="container">
  <div class="row mt-2">
    <div class="col-md-4 p-0 p-md-3">
      <!-- <input class="form-control mb-3" type="text" (keyup)="search($event)" placeholder="search customer...">
      <div *ngIf="customers?.length > 0; else noInfo">
        <div class="border rounded p-2 mb-2 cus-list" *ngFor="let cus of customers" (click)="loadCustomerLedger(cus.id)">
          <h4 class="mb-1">{{cus?.name}}</h4>
          <p class="mb-0">
            Phone: {{cus?.phone}} | Username: {{ cus?.userName }}
          </p>
        </div>
      </div>
      <ng-template #noInfo>
        <p>
          No results found :(
        </p>
      </ng-template> -->
    </div>

    <div class="col-md-8 p-0 p-md-3 border rounded" *ngIf="cashbooks.length>0">

      <h3 class="text-center">Cashbook</h3>
      <table class="table table-striped table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th>Date</th>
            <th>Explanation#</th>
            <th>Debit</th>
            <th>credit</th>
            <th>balance</th>
          </tr>
        </thead>
        <!-- {{patient.date | date:'dd-MM-yyyy'}} -->
        <tbody>
          <tr *ngFor="let cash of cashbooks">
            <td>{{ cash?.date | date:'dd-MM-yyyy'}}</td>
            <td>{{ cash?.explanation }}</td>
            <td>{{ cash?.debit }}</td>
            <td>{{ cash?.credit }}</td>
            <td>{{ cash?.balance }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>