<div class="container">
  <div class="row mt-2">
    <div class="col-12 raised">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>UserName</th>
            <th>Phone</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cus of customers">
            <td>{{cus?.name}}</td>
            <td>{{cus?.userName}}</td>
            <td>{{cus?.phone}}</td>
            <td>{{cus?.active? 'ACTIVE':'INACTIVE'}}</td>
            <td>
              <a *ngIf="!cus?.active" class="btn btn-sm btn-success raised" (click)="activeCustomer(cus?.id)">Activate</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- {{ customers | json}} -->