<div class="container p-0">
  <div class="text-center">
    <h5 class="h3 mb-3 font-weight-normal" [class.bg-warning]="customer.id">
      <strong> {{customer.id?'EDIT':'ADD'}} CUSTOMER </strong>
    </h5>
    <div class="alert alert-success" *ngIf="message.length>0">
      {{message}}
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage.length>0">
      {{errorMessage}}
    </div>
  </div>

  <form class="py-3" #cusForm="ngForm" (ngSubmit)="saveCustomer(cusForm.value)" novalidate>
    <div class="row m-0">
      <div class="col-md-6 p-0">
        <div class="form-group row">
          <label class="col-md-4 col-form-label">Date</label>
          <div class="col-md-8">
            <input class="form-control" type="date" name="date" [(ngModel)]="customer.date" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 col-form-label">Name
            <sup>*</sup>
          </label>
          <div class="col-md-8">
            <input class="form-control" name="name" #name="ngModel" [(ngModel)]="customer.name" placeholder="Name" required/>
            <small class="form-text text-danger" *ngIf="name.touched && name.invalid">Name is required</small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Email
      </label>
      <div class="col-md-4">
        <input class="form-control" name="email" #email="ngModel" [(ngModel)]="customer.email" placeholder="Email" />
      </div>
      <label class="col-md-2 col-form-label text-right">Image</label>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Father's Name
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" name="fathersName" #fathersName="ngModel" [(ngModel)]="customer.fathersName" placeholder="FathersName"
          required />
        <small class="form-text text-danger" *ngIf="fathersName.touched && fathersName.invalid">Father's Name is required</small>
      </div>

      <label class="col-md-2 col-form-label text-right">Mother's Name
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" name="mothersName" #mothersName="ngModel" [(ngModel)]="customer.mothersName" placeholder="Mother's Name"
          required/>
        <small class="form-text text-danger" *ngIf="mothersName.touched && mothersName.invalid">Mother's Name is required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Gender
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="customer.gender" name="gender" id="inlineRadio1" value="Male">Male
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="customer.gender" name="gender" id="inlineRadio2" value="Female">Female
          </label>
        </div>
      </div>
      <label class="col-md-2 col-form-label text-right">Date of Birth
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <!-- <input class="form-control" type="date" name="dob" #mothersName="dob" [(ngModel)]="customer.dob" useValueAsDate required/> -->
        <input class="form-control" type="date" name="dob" #dob="ngModel" [(ngModel)]="customer.dob" required/>
        <small class="form-text text-danger" *ngIf="dob.touched && dob.invalid">Date of birth is required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Occupation
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" name="occupation" #occupation="ngModel" [(ngModel)]="customer.occupation" placeholder="Occupation"
          required />
        <small class="form-text text-danger" *ngIf="occupation.touched && occupation.invalid">Occupation required</small>
      </div>

      <label class="col-md-2 col-form-label text-right">Zone
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" name="zone" #zone="ngModel" [(ngModel)]="customer.zone" placeholder="Zone" required />
        <small class="form-text text-danger" *ngIf="zone.touched && zone.invalid">Zone required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Present Address </label>
      <div class="col-md-10">
        <div class="row p-3 p-md-0">
          <input class="col-md-2 form-control ml-md-3" #flat="ngModel" [(ngModel)]="customer.prAddress.flat" name="prAddress.flat"
            placeholder="Flat #" />
          <input class="col-md-2 form-control ml-md-3" #floor="ngModel" [(ngModel)]="customer.prAddress.floor" name="prAddress.floor"
            placeholder="Floor #" />
          <input class="col-md-2 form-control ml-md-3" #house="ngModel" [(ngModel)]="customer.prAddress.house" name="prAddress.house"
            placeholder="House #" />
          <input class="col-md-2 form-control ml-md-3" #road="ngModel" [(ngModel)]="customer.prAddress.road" name="prAddress.road"
            placeholder="Road #" />
          <input class="col-md-2 form-control ml-md-3" #road="ngModel" [(ngModel)]="customer.prAddress.area" name="prAddress.road"
            placeholder="*Area" required/>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label"></label>
      <div class="col-md-10">
        <div class="row p-3 p-md-0">
          <input class="col-md-2 form-control ml-md-3" #village="ngModel" [(ngModel)]="customer.prAddress.village" name="prAddress.village"
            placeholder="Village" />
          <input class="col-md-2 form-control ml-md-3" #post="ngModel" [(ngModel)]="customer.prAddress.post" name="prAddress.post"
            placeholder="Post" />
          <input class="col-md-2 form-control ml-md-3" #po="ngModel" [(ngModel)]="customer.prAddress.po" name="prAddress.po" placeholder="*Polic Station"
            required/>
          <input class="col-md-2 form-control ml-md-3" #unions="ngModel" [(ngModel)]="customer.prAddress.unions" name="prAddress.unions"
            placeholder="Union" />
          <input class="col-md-2 form-control ml-md-3" #city="ngModel" [(ngModel)]="customer.prAddress.city" name="prAddress.city"
            placeholder="*City" required/>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Permanent Address
        <sup>*</sup>
      </label>
      <div class="col-md-10">
        <input class="form-control" #perAddress="ngModel" [(ngModel)]="customer.perAddress" name="perAddress" placeholder="Permanent Address"
          required/>
        <small class="form-text text-danger" *ngIf="perAddress.touched && perAddress.invalid">Permanent Address required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Id Type
        <sup>*</sup>
      </label>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="customer.idType" name="idType" value="National-id">National-id
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="customer.idType" name="idType" value="Passport">Passport
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="customer.idType" name="idType" value="DrivingLicence">Driving Licence
          </label>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="customer.idType" name="idType" value="Other">Other
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-control" [(ngModel)]="customer.otherIdType" name="customer.otherIdType" placeholder="Enter Id type" type="text">
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Id Number
        <sup>*</sup>
      </label>
      <div class="col-md-10">
        <input class="form-control" #idNumber="ngModel" [(ngModel)]="customer.idNumber" name="idNumber" placeholder="Id Number" required/>
        <small class="form-text text-danger" *ngIf="idNumber.touched && idNumber.invalid">Id Number required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Phone
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" #phone="ngModel" [(ngModel)]="customer.phone" name="phone" placeholder="Phone" required pattern="^01[0-9][ ]?[0-9]{2}[ ]?[0-9]{3}[ ]?[0-9]{3}$"
          maxlength="11" />
        <small class="form-text text-danger" *ngIf="phone.touched && phone.invalid">
          <small *ngIf="phone.errors.required">Phone number required</small>
          <small *ngIf="phone.hasError('pattern') && !phone.errors.required">Please enter a valid Phone number</small>
        </small>
      </div>

      <label class="col-md-2 col-form-label text-right">Reference
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" #reference="ngModel" [(ngModel)]="customer.reference" name="reference" placeholder="Reference"
          required/>
        <small class="form-text text-danger" *ngIf="reference.touched && reference.invalid">Reference required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Connection Date
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" type="date" name="connectionDate" #connectionDate="ngModel" [(ngModel)]="customer.connectionDate "
        />
        <small class="form-text text-danger" *ngIf="connectionDate.touched && connectionDate.invalid">Connection Date required</small>
      </div>

      <label class="col-md-2 col-form-label">Connection Fee
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" type="number" #connectionFee="ngModel" [(ngModel)]="customer.connectionFee" name="connectionFee"
          placeholder="ConnectionFee" required/>
        <small class="form-text text-danger" *ngIf="connectionFee.touched && connectionFee.invalid">Connection Fee required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Monthly Bill
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" type="number" #monthlyBill="ngModel" [(ngModel)]="customer.monthlyBill" name="monthlyBill" placeholder="Monthly Bill"
          required/>
        <small class="form-text text-danger" *ngIf="monthlyBill.touched && monthlyBill.invalid">Monthly Bill required</small>
      </div>

      <label class="col-md-2 col-form-label">Date of payment
        <sup>*</sup>
      </label>
      <div class="col-md-4">
        <input class="form-control" #dateOfPayment="ngModel" [(ngModel)]="customer.dateOfPayment" name="dateOfPayment" placeholder="Date Of Payment"
          required/>
        <small class="form-text text-danger" *ngIf="dateOfPayment.touched && dateOfPayment.invalid">Date Of Payment required</small>
      </div>
    </div>


    <div class="form-group row" style="border: 1px dashed black; padding: 10px 0;">
      <div class="col-12 text-center" style="padding: 0 0 20px 0;">
        <span style="background: black; border-radius: 10px; color: white;padding: 2px 5px;">Office Use</span>
      </div>

      <div class="col-12">
        <div class="row p-3">
          <label class="col-md-2 col-form-label p-0">Pop Location</label>
          <div class="col-md-4 p-0">
            <input class="form-control" [(ngModel)]="customer.popLocation" name="popLocation" placeholder="Pop Location" />
          </div>
          <label class="col-md-2 col-form-label text-right p-0 px-md-3">Box Name</label>
          <div class="col-lg-4 col-md-4 p-0">
            <input class="form-control" [(ngModel)]="customer.boxName" name="boxName" placeholder="Box Name" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row p-3">
          <label class="col-md-2 col-form-label p-0">Installed By</label>
          <div class="col-md-4 p-0">
            <input class="form-control" [(ngModel)]="customer.installedBy" name="installedBy" placeholder="Installed By" />
          </div>

          <label class="col-md-2 col-form-label text-right p-0 px-md-3">Used Cable</label>
          <div class="col-md-4 p-0">
            <input class="form-control" [(ngModel)]="customer.useCable" name="useCable" placeholder="Used Cable" />
          </div>
        </div>
      </div>

      <div class="col-12 row">
        <label class="col-md-2 col-form-label">Bandwidth Type
          <sup>*</sup>
        </label>
        <div class="col-md-4">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.bandwidthType" name="bandwidthType" value="Shared">Shared
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.bandwidthType" name="bandwidthType" value="Dedicated">Dedicated
            </label>
          </div>
        </div>

        <label class="col-md-2 col-form-label text-right">User Type
          <sup>*</sup>
        </label>
        <div class="col-md-4">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.userType" name="userType" value="New User">New User
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.userType" name="userType" value="Reactive User">Reactive User
            </label>
          </div>
        </div>
      </div>


      <div class="col-md-12 row">
        <label class="col-md-2 col-form-label">Packages
          <sup>*</sup>
        </label>
        <div class="col-md-10">
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="1mbps">1mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="1.5mbps">1.5mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="2mbps">2mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="3mbps">3mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="4mbps">4mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="5mbps">5mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="8mbps">8mbps
            </label>
          </div>
          <div class="col-md-1 form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="customer.packageType" name="packageType" value="10mbps">10mpbs
            </label>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group row" style="border: 1px dotted lightcoral; padding: 10px 0;">

      <div class="col-12 text-center" style="padding: 0 0 20px 0;">
        <span style="background: black; border-radius: 10px; color: white;padding: 2px 5px;">User</span>
      </div>

      <div class="col-md-12 p-0" style="margin-bottom: 15px;">
        <label class="col-md-2 col-form-label">User Name
          <sup>*</sup>
        </label>
        <div class="col-md-4">
          <input class="form-control" #userName="ngModel" [(ngModel)]="customer.userName" name="userName" placeholder="User Name" required/>
          <small class="form-text text-danger" *ngIf="userName.touched && userName.invalid">Zone required</small>
        </div>

        <label class="col-md-2 col-form-label text-right">Password
          <sup>*</sup>
        </label>
        <div class="col-md-4">
          <input class="form-control" #password="ngModel" [(ngModel)]="customer.password" name="password" placeholder="Password" required/>
          <small class="form-text text-danger" *ngIf="password.touched && password.invalid">Zone required</small>
        </div>
      </div>

      <div class="col-12 p-0" style="margin-bottom: 15px;">
        <label class="col-md-2 col-form-label">IP</label>
        <div class="col-md-4">
          <input class="form-control" type="text" #ipAddress="ngModel" [(ngModel)]="customer.ipAddress" name="ipAddress" placeholder="Ip Address"
          />
          <small class="form-text text-danger" *ngIf="ipAddress.touched && ipAddress.invalid">Zone required</small>
        </div>

        <label class="col-md-2 col-form-label text-right">Gateway</label>
        <div class="col-md-4">
          <input class="form-control" type="text" #gateway="ngModel" [(ngModel)]="customer.gateway" name="gateway" placeholder="Gateway"
          />
          <small class="form-text text-danger" *ngIf="gateway.touched && gateway.invalid">Zone required</small>
        </div>
      </div>

      <div class="col-12 p-0" style="margin-bottom: 15px;">
        <label class="col-md-2 col-form-label">Subnet</label>
        <div class="col-md-4">
          <input class="form-control" type="text" #subnet="ngModel" [(ngModel)]="customer.subnet" name="subnet" placeholder="Subnet Mask"
          />
          <small class="form-text text-danger" *ngIf="subnet.touched && subnet.invalid">Zone required</small>
        </div>

        <!-- <label class="col-md-2 col-form-label text-right">
        </label> -->
        <div class="col-md-6 mt-2">
          <input class="col-2 p-0" type="checkbox" id="active" #active="ngModel" [(ngModel)]="customer.active" name="active" />
          <label class="col-6 p-0" for="active">Active</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing" [disabled]="cusForm.invalid">
      <i class="fa fa-plus" *ngIf="!editing"></i>
      <i class="fa fa-pencil-square-o" *ngIf="editing"></i>
      {{editing ? "Save" : "Create"}} Customer
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/customerList">
      Cancel
    </button>
  </form>
</div>