<div class="container">
  <div class="row mt-2">
    <div class="col-12 col-md-7">
      <user-list-child [users]="users" (edit)="editUser($event)"></user-list-child>
    </div>

    <div class="col-12 col-md-5 p-0 pt-3 px-md-2 pt-md-0">

      <div class="alert alert-success" *ngIf="message.length>0">
        {{message}}
        <button class="btn btn-sm btn-warning" (click)="clear()">clear</button>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.length>0">
        {{errorMessage}}
        <button class="btn btn-sm btn-warning" (click)="clear()">clear</button>
      </div>

      <role-form *ngIf="showForm; else loading" [name]="user.name" (roles)="saveRoles($event)"></role-form>
      <ng-template #loading>
        <div class="message">
          <i class="fa fa-refresh"></i> &nbsp; Changin user role...
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- <user-list-child [users]="users" (edit)="edit($event)"></user-list-child> -->